.audio{

    background: gray;
    text-align: center;
    border: 25px solid green;
    opacity: 0.95;
    font-family: "Courier New", Courier, monospace;
    margin: 25%;
}
#events {
  background-color: #212121;
  word-spacing: 1px;
  border-bottom: 1px solid rgb(70,70,70);
   word-break: break-word;
}

#events .subtopic, .event p {
  color: white;
   word-spacing: 1px;
    word-break: break-word;
}

.event .subtopic {
  word-spacing: 1px;
  font-size: 26px;
   word-break: break-word;
}

.event img {
  margin: 20px 0px;
}

.title{
    font-size: 50px;
    color: white;
    line-height: 10px;
}

.subtitle{
    font-family: "Times New Roman", Times, serif;
    font-size: 10px;
    color: black;
    line-height: auto;
    margin:1%
}

.instructions{
    float:center;
    text-align: center;
    display:inline-block;
    margin:5%;
    padding:10%;
    border:solid;
    border-color:green;
    color:white;
}


p{
    font-size: 30px;
    color: white;
    line-height: 5px;
}



.subsection{
    color:white;


}

button{
        font-family: "Times New Roman", Times, serif;
        font-size: 15px;
        display: inline-block;
        line-height: 20px;
}

leftd,rightd,noised{
    color:white;
    display: inline-block;
    font-size:10px;

}
.description{
    font-size: 20px;
    color: white;
    line-height: 20px;
}

.column {
  float: left;
  width: 50%;
  border-radius: 36px;
  border:solid;
  border-color:green;
}

.row:.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
} {
  content: "";
  display: table;
  clear: both;
}{
    text-align:left;
}

#waveform {
    position: relative;
}

#waveform .progress {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.demo .controls {
    padding: 10px 0;
    text-align: center;
}

.demo .controls .btn {
    margin: 10px;
    }

.console{
    border:solid;
    border-color:green;
    margin-left:20%;
    margin-right:20%;
    background: white;
}

@-webkit-keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.btn {
  overflow: visible;
  border: 0;
  background: transparent;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -moz-user-select: text;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 36px 22px;
  background-color: #fff;
  color: #666;
  border: 2px solid #666;
  border-radius: 6px;
  margin-bottom: 16px;
  transition: all .5s ease;
}
.btn:-moz-focus-inner {
  padding: 0;
  border: 0;
}
.btn--stripe {
  overflow: hidden;
  position: relative;
}
.btn--stripe:after {
  content: '';
  display: block;
  height: 7px;
  width: 100%;
  background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #666;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}
.btn--stripe:hover {
  background-color: #666;
  color: #fff;
  border-color: #000;
}
.btn--stripe:hover:after {
  background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
  border-top: 1px solid #000;
  -webkit-animation: stripe-slide 12s infinite linear forwards;
          animation: stripe-slide 12s infinite linear forwards;
}
.btn--large {
  width: 50%;
}
.btn--radius {
  border-radius: 36px;
}

#myCanvas {
background:black;
border:1px solid #cbcbcb; }

.credit{
    font-size: 10px;
    color: black;
    line-height: 5px;
}

p.credit{
    font-size: 15px;
    color: white;
}